@font-face {
  font-family: 'EntypoRegular';
  src: url('../assets/entypo.eot');
  src: url('../assets/entypo.eot?#iefix') format('embedded-opentype'), url('../assets/entypo.woff') format('woff'), url('../assets/entypo.ttf') format('truetype'), url('../assets/entypo.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EntypoSocial';
  src: url('../assets/entypo-social.eot');
  src: url('../assets/entypo-social.eot?#iefix') format('embedded-opentype'), url('../assets/entypo-social.woff') format('woff'), url('../assets/entypo-social.ttf') format('truetype'), url('../assets/entypo-social.svg#EntypoSocial') format('svg');
  font-weight: normal;
  font-style: normal;
}
.glyph {
  font-family: "EntypoRegular";
}
.glyph-social {
  font-family: "EntypoRegular";
}
.glyph-phone:after {
  content: "📞";
  font-family: "EntypoRegular";
}
.glyph-device:after {
  content: "📱";
  font-family: "EntypoRegular";
}
.glyph-mouse:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-signs:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-envelope:after {
  content: "✉";
  font-family: "EntypoRegular";
}
.glyph-airplane:after {
  content: "🔿";
  font-family: "EntypoRegular";
}
.glyph-pencil:after {
  content: "✎";
  font-family: "EntypoRegular";
}
.glyph-feather:after {
  content: "✒";
  font-family: "EntypoRegular";
}
.glyph-paperclip:after {
  content: "📎";
  font-family: "EntypoRegular";
}
.glyph-inbox:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-back-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-double-back-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-forward-arrow:after {
  content: "➦";
  font-family: "EntypoRegular";
}
.glyph-person:after {
  content: "👤";
  font-family: "EntypoRegular";
}
.glyph-people:after {
  content: "👥";
  font-family: "EntypoRegular";
}
.glyph-add-person:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-id:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-forward:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-map-flag:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-map:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-compas:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-locate:after {
  content: "➢";
  font-family: "EntypoRegular";
}
.glyph-target:after {
  content: "🎯";
  font-family: "EntypoRegular";
}
.glyph-nodes:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-encircled-node:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-heart:after {
  content: "♥";
  font-family: "EntypoRegular";
}
.glyph-empty-heart:after {
  content: "♡";
  font-family: "EntypoRegular";
}
.glyph-star:after {
  content: "★";
  font-family: "EntypoRegular";
}
.glyph-empty-star:after {
  content: "☆";
  font-family: "EntypoRegular";
}
.glyph-thumbs-up:after {
  content: "👍";
  font-family: "EntypoRegular";
}
.glyph-thumbs-down:after {
  content: "👎";
  font-family: "EntypoRegular";
}
.glyph-thought-bubbles:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-thought-bubble:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-quotes:after {
  content: "❞";
  font-family: "EntypoRegular";
}
.glyph-home:after {
  content: "⌂";
  font-family: "EntypoRegular";
}
.glyph-popup:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-search:after {
  content: "🔍";
  font-family: "EntypoRegular";
}
.glyph-flashlight:after {
  content: "🔦";
  font-family: "EntypoRegular";
}
.glyph-print:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-bell:after {
  content: "🔔";
  font-family: "EntypoRegular";
}
.glyph-chain:after {
  content: "🔗";
  font-family: "EntypoRegular";
}
.glyph-flag:after {
  content: "⚑";
  font-family: "EntypoRegular";
}
.glyph-gear:after {
  content: "⚙";
  font-family: "EntypoRegular";
}
.glyph-tools:after {
  content: "⚒";
  font-family: "EntypoRegular";
}
.glyph-trophy:after {
  content: "🏆";
  font-family: "EntypoRegular";
}
.glyph-tag:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-camera:after {
  content: "📷";
  font-family: "EntypoRegular";
}
.glyph-megaphone:after {
  content: "📣";
  font-family: "EntypoRegular";
}
.glyph-moon:after {
  content: "☽";
  font-family: "EntypoRegular";
}
.glyph-paints:after {
  content: "🎨";
  font-family: "EntypoRegular";
}
.glyph-leaf:after {
  content: "🍂";
  font-family: "EntypoRegular";
}
.glyph-note:after {
  content: "♪";
  font-family: "EntypoRegular";
}
.glyph-notes:after {
  content: "♫";
  font-family: "EntypoRegular";
}
.glyph-warning:after {
  content: "💥";
  font-family: "EntypoRegular";
}
.glyph-graduation-hat:after {
  content: "🎓";
  font-family: "EntypoRegular";
}
.glyph-book:after {
  content: "📕";
  font-family: "EntypoRegular";
}
.glyph-paper:after {
  content: "📰";
  font-family: "EntypoRegular";
}
.glyph-bag:after {
  content: "👜";
  font-family: "EntypoRegular";
}
.glyph-plane:after {
  content: "✈";
  font-family: "EntypoRegular";
}
.glyph-lifesaver:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-eye:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-clock:after {
  content: "🕔";
  font-family: "EntypoRegular";
}
.glyph-microphone:after {
  content: "🎤";
  font-family: "EntypoRegular";
}
.glyph-calendar:after {
  content: "📅";
  font-family: "EntypoRegular";
}
.glyph-lightning:after {
  content: "⚡";
  font-family: "EntypoRegular";
}
.glyph-lightning-cloud:after {
  content: "⛈";
  font-family: "EntypoRegular";
}
.glyph-drop:after {
  content: "💧";
  font-family: "EntypoRegular";
}
.glyph-disc:after {
  content: "💿";
  font-family: "EntypoRegular";
}
.glyph-toolbox:after {
  content: "💼";
  font-family: "EntypoRegular";
}
.glyph-waves:after {
  content: "💨";
  font-family: "EntypoRegular";
}
.glyph-hourglass:after {
  content: "⏳";
  font-family: "EntypoRegular";
}
.glyph-speedometer:after {
  content: "🛇";
  font-family: "EntypoRegular";
}
.glyph-letters:after {
  content: "🎔";
  font-family: "EntypoRegular";
}
.glyph-network:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-key:after {
  content: "🔑";
  font-family: "EntypoRegular";
}
.glyph-battery:after {
  content: "🔋";
  font-family: "EntypoRegular";
}
.glyph-bucket:after {
  content: "📾";
  font-family: "EntypoRegular";
}
.glyph-magnet:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-harddisk:after {
  content: "📽";
  font-family: "EntypoRegular";
}
.glyph-trash-bin:after {
  content: "☕";
  font-family: "EntypoRegular";
}
.glyph-rocket:after {
  content: "🚀";
  font-family: "EntypoRegular";
}
.glyph-paintbrush:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-briefcase:after {
  content: "🛆";
  font-family: "EntypoRegular";
}
.glyph-cone:after {
  content: "🛈";
  font-family: "EntypoRegular";
}
.glyph-globe:after {
  content: "🌎";
  font-family: "EntypoRegular";
}
.glyph-keyboard:after {
  content: "⌨";
  font-family: "EntypoRegular";
}
.glyph-window:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-window-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-full-progress:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-two-thirds-progress:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-one-third-progress-:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-empty-progress:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-small-sun:after {
  content: "🔅";
  font-family: "EntypoRegular";
}
.glyph-large-sun:after {
  content: "🔆";
  font-family: "EntypoRegular";
}
.glyph-half-sun:after {
  content: "◑";
  font-family: "EntypoRegular";
}
.glyph-square-brackets:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-tv:after {
  content: "💻";
  font-family: "EntypoRegular";
}
.glyph-infinity:after {
  content: "∞";
  font-family: "EntypoRegular";
}
.glyph-lightbulb:after {
  content: "💡";
  font-family: "EntypoRegular";
}
.glyph-creditcard:after {
  content: "💳";
  font-family: "EntypoRegular";
}
.glyph-database:after {
  content: "📸";
  font-family: "EntypoRegular";
}
.glyph-tape:after {
  content: "✇";
  font-family: "EntypoRegular";
}
.glyph-clipboard:after {
  content: "📋";
  font-family: "EntypoRegular";
}
.glyph-cart:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-box:after {
  content: "📦";
  font-family: "EntypoRegular";
}
.glyph-ticket:after {
  content: "🎫";
  font-family: "EntypoRegular";
}
.glyph-feed:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-wireless:after {
  content: "📶";
  font-family: "EntypoRegular";
}
.glyph-thermometer:after {
  content: "📿";
  font-family: "EntypoRegular";
}
.glyph-drops:after {
  content: "💦";
  font-family: "EntypoRegular";
}
.glyph-flag:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-line-graph:after {
  content: "📈";
  font-family: "EntypoRegular";
}
.glyph-pie-graph:after {
  content: "◴";
  font-family: "EntypoRegular";
}
.glyph-bar-chart:after {
  content: "📊";
  font-family: "EntypoRegular";
}
.glyph-area-chart:after {
  content: "🔾";
  font-family: "EntypoRegular";
}
.glyph-lock:after {
  content: "🔒";
  font-family: "EntypoRegular";
}
.glyph-unlock:after {
  content: "🔓";
  font-family: "EntypoRegular";
}
.glyph-out:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-in:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-check:after {
  content: "✓";
  font-family: "EntypoRegular";
}
.glyph-x:after {
  content: "❌";
  font-family: "EntypoRegular";
}
.glyph-minus-box:after {
  content: "⊟";
  font-family: "EntypoRegular";
}
.glyph-plus-box:after {
  content: "⊞";
  font-family: "EntypoRegular";
}
.glyph-x-box:after {
  content: "❎";
  font-family: "EntypoRegular";
}
.glyph-minus-circle:after {
  content: "⊖";
  font-family: "EntypoRegular";
}
.glyph-plus-circle:after {
  content: "⊕";
  font-family: "EntypoRegular";
}
.glyph-x-circle:after {
  content: "✖";
  font-family: "EntypoRegular";
}
.glyph-minus:after {
  content: "➖";
  font-family: "EntypoRegular";
}
.glyph-plus:after {
  content: "➕";
  font-family: "EntypoRegular";
}
.glyph-back-x:after {
  content: "⌫";
  font-family: "EntypoRegular";
}
.glyph-delete:after {
  content: "🚫";
  font-family: "EntypoRegular";
}
.glyph-info:after {
  content: "ℹ";
  font-family: "EntypoRegular";
}
.glyph-info-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-question:after {
  content: "❓";
  font-family: "EntypoRegular";
}
.glyph-question-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-exclamation-triangle:after {
  content: "⚠";
  font-family: "EntypoRegular";
}
.glyph-refresh:after {
  content: "🔄";
  font-family: "EntypoRegular";
}
.glyph-clockwise:after {
  content: "⟳";
  font-family: "EntypoRegular";
}
.glyph-counter-clockwise:after {
  content: "⟲";
  font-family: "EntypoRegular";
}
.glyph-shuffle:after {
  content: "🔀";
  font-family: "EntypoRegular";
}
.glyph-reverse:after {
  content: "🔙";
  font-family: "EntypoRegular";
}
.glyph-forward:after {
  content: "↳";
  font-family: "EntypoRegular";
}
.glyph-square-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-repeat:after {
  content: "🔁";
  font-family: "EntypoRegular";
}
.glyph-repeat-clock:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-back-arrow:after {
  content: "↰";
  font-family: "EntypoRegular";
}
.glyph-opposing-arrows:after {
  content: "⇆";
  font-family: "EntypoRegular";
}
.glyph-list-bulletted:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-list-add:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-squares:after {
  content: "⚏";
  font-family: "EntypoRegular";
}
.glyph-list:after {
  content: "☰";
  font-family: "EntypoRegular";
}
.glyph-white-list:after {
  content: "📄";
  font-family: "EntypoRegular";
}
.glyph-black-list:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-empty-list:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-multiple-pages:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-screen:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-pictures:after {
  content: "🌄";
  font-family: "EntypoRegular";
}
.glyph-play-movie:after {
  content: "🎬";
  font-family: "EntypoRegular";
}
.glyph-music:after {
  content: "🎵";
  font-family: "EntypoRegular";
}
.glyph-folder:after {
  content: "📁";
  font-family: "EntypoRegular";
}
.glyph-file-cabinet:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-trash-can:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-out-of-box:after {
  content: "📤";
  font-family: "EntypoRegular";
}
.glyph-in-to-box:after {
  content: "📥";
  font-family: "EntypoRegular";
}
.glyph-diskette:after {
  content: "💾";
  font-family: "EntypoRegular";
}
.glyph-in-drive:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-cloud:after {
  content: "☁";
  font-family: "EntypoRegular";
}
.glyph-cloud-in:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-bookmark:after {
  content: "🔖";
  font-family: "EntypoRegular";
}
.glyph-bookmarks:after {
  content: "📑";
  font-family: "EntypoRegular";
}
.glyph-pamphlet:after {
  content: "📖";
  font-family: "EntypoRegular";
}
.glyph-play:after {
  content: "▶";
  font-family: "EntypoRegular";
}
.glyph-pause:after {
  content: "‖";
  font-family: "EntypoRegular";
}
.glyph-record:after {
  content: "●";
  font-family: "EntypoRegular";
}
.glyph-stop:after {
  content: "■";
  font-family: "EntypoRegular";
}
.glyph-fastforward:after {
  content: "⏩";
  font-family: "EntypoRegular";
}
.glyph-rewind:after {
  content: "⏪";
  font-family: "EntypoRegular";
}
.glyph-previous:after {
  content: "⏮";
  font-family: "EntypoRegular";
}
.glyph-next:after {
  content: "⏭";
  font-family: "EntypoRegular";
}
.glyph-expand:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-contract:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-wedge:after {
  content: "⏷";
  font-family: "EntypoRegular";
}
.glyph-volume:after {
  content: "🔊";
  font-family: "EntypoRegular";
}
.glyph-mute:after {
  content: "🔇";
  font-family: "EntypoRegular";
}
.glyph-list-graph:after {
  content: "🕨";
  font-family: "EntypoRegular";
}
.glyph-fork:after {
  content: "🕩";
  font-family: "EntypoRegular";
}
.glyph-tree:after {
  content: "🕪";
  font-family: "EntypoRegular";
}
.glyph-one-set:after {
  content: "🕫";
  font-family: "EntypoRegular";
}
.glyph-two-set:after {
  content: "🕬";
  font-family: "EntypoRegular";
}
.glyph-left-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-down-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-up-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-right-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-left-thin-arrow:after {
  content: "⬅";
  font-family: "EntypoRegular";
}
.glyph-down-thin-arrow:after {
  content: "⬇";
  font-family: "EntypoRegular";
}
.glyph-up-thin-arrow:after {
  content: "⬆";
  font-family: "EntypoRegular";
}
.glyph-right-thin-arrow:after {
  content: "➡";
  font-family: "EntypoRegular";
}
.glyph-left-circle-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-down-circle-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-up-circle-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-right-circle-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-left-small-arrow:after {
  content: "◂";
  font-family: "EntypoRegular";
}
.glyph-down-small-arrow:after {
  content: "▾";
  font-family: "EntypoRegular";
}
.glyph-up-small-arrow:after {
  content: "▴";
  font-family: "EntypoRegular";
}
.glyph-right-small-arrow:after {
  content: "▸";
  font-family: "EntypoRegular";
}
.glyph-left-square-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-down-square-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-up-square-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-right-square-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-left-square-thin-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-down-square-thin-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-up-square-thin-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-right-square-thin-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-left-square-fat-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-down-square-fat-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-up-square-fat-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-right-square-fat-arrow:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-left-long-arrow:after {
  content: "←";
  font-family: "EntypoRegular";
}
.glyph-down-long-arrow:after {
  content: "↓";
  font-family: "EntypoRegular";
}
.glyph-up-long-arrow:after {
  content: "↑";
  font-family: "EntypoRegular";
}
.glyph-right-long-arrow:after {
  content: "→";
  font-family: "EntypoRegular";
}
.glyph-up-down-arrows:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-three-dots:after {
  content: "⏶";
  font-family: "EntypoRegular";
}
.glyph-two-dots:after {
  content: "⏵";
  font-family: "EntypoRegular";
}
.glyph-one-dot:after {
  content: "⏴";
  font-family: "EntypoRegular";
}
.glyph-cc:after {
  content: "🕅";
  font-family: "EntypoRegular";
}
.glyph-cc-by:after {
  content: "🕆";
  font-family: "EntypoRegular";
}
.glyph-cc-nc-dollar:after {
  content: "🕇";
  font-family: "EntypoRegular";
}
.glyph-cc-nc-euro:after {
  content: "🕈";
  font-family: "EntypoRegular";
}
.glyph-cc-nc-yen:after {
  content: "🕉";
  font-family: "EntypoRegular";
}
.glyph-cc-sa:after {
  content: "🕊";
  font-family: "EntypoRegular";
}
.glyph-cc-equal:after {
  content: "🕋";
  font-family: "EntypoRegular";
}
.glyph-cc-copy:after {
  content: "🕌";
  font-family: "EntypoRegular";
}
.glyph-cc-zero:after {
  content: "🕍";
  font-family: "EntypoRegular";
}
.glyph-cc-share:after {
  content: "🕎";
  font-family: "EntypoRegular";
}
.glyph-cc-remix:after {
  content: "🕏";
  font-family: "EntypoRegular";
}
.glyph-db-logo:after {
  content: "🗹";
  font-family: "EntypoRegular";
}
.glyph-black-box:after {
  content: "🗺";
  font-family: "EntypoRegular";
}
.glyph-github:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-github-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-flickr:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-flickr-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-vimeo:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-vimeo-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-twitter:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-twitter-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-facebook:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-facebook-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-facebook-square:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-google:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-google-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-pinterest:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-pinterest-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-tumblr:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-tumblr-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-linkedin:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-linkedin-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-dribble:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-dribble-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-stumbleupon:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-stumbleupon-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-lastfm:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-lastfm-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-rdio:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-rdio-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-spotify:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-spotify-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-qq:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-instagram:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-dropbox:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-evernote:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-flattr:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-skype:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-skype-circle:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-renren:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-sina:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-paypal:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-picasa:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-soundcloud:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-mixi:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-behance:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-google-circles:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-vk:after {
  content: "";
  font-family: "EntypoRegular";
}
.glyph-smashing:after {
  content: "";
  font-family: "EntypoRegular";
}
