@font-face {  
    font-family: 'EntypoRegular';  
    src: url('../assets/entypo.eot');  
    src: url('../assets/entypo.eot?#iefix') format('embedded-opentype'),  
         url('../assets/entypo.woff') format('woff'),  
         url('../assets/entypo.ttf') format('truetype'),  
         url('../assets/entypo.svg#EntypoRegular') format('svg');  
    font-weight: normal;  
    font-style: normal;  
}  

@font-face {  
    font-family: 'EntypoSocial';  
    src: url('../assets/entypo-social.eot');  
    src: url('../assets/entypo-social.eot?#iefix') format('embedded-opentype'),  
         url('../assets/entypo-social.woff') format('woff'),  
         url('../assets/entypo-social.ttf') format('truetype'),  
         url('../assets/entypo-social.svg#EntypoSocial') format('svg');  
    font-weight: normal;  
    font-style: normal;  
}  

.glyph
{
	font-family: "EntypoRegular";
}

.glyph-social
{
	font-family: "EntypoRegular";
}

.glyph-phone:after { content: "📞"; .glyph; }
.glyph-device:after { content: "📱"; .glyph; }
.glyph-mouse:after { content: ""; .glyph; }
.glyph-signs:after { content: ""; .glyph; }
.glyph-envelope:after { content: "✉"; .glyph; }
.glyph-airplane:after { content: "🔿"; .glyph; }
.glyph-pencil:after { content: "✎"; .glyph; }
.glyph-feather:after { content: "✒"; .glyph; }
.glyph-paperclip:after { content: "📎"; .glyph; }
.glyph-inbox:after { content: ""; .glyph; }
.glyph-back-arrow:after { content: ""; .glyph; }
.glyph-double-back-arrow:after { content: ""; .glyph; }
.glyph-forward-arrow:after { content: "➦"; .glyph; }
.glyph-person:after { content: "👤"; .glyph; }
.glyph-people:after { content: "👥"; .glyph; }
.glyph-add-person:after { content: ""; .glyph; }
.glyph-id:after { content: ""; .glyph; }
.glyph-forward:after { content: ""; .glyph; }
.glyph-map-flag:after { content: ""; .glyph; }
.glyph-map:after { content: ""; .glyph; }
.glyph-compas:after { content: ""; .glyph; }
.glyph-locate:after { content: "➢"; .glyph; }
.glyph-target:after { content: "🎯"; .glyph; }
.glyph-nodes:after { content: ""; .glyph; }
.glyph-encircled-node:after { content: ""; .glyph; }
.glyph-heart:after { content: "♥"; .glyph; }
.glyph-empty-heart:after { content: "♡"; .glyph; }
.glyph-star:after { content: "★"; .glyph; }
.glyph-empty-star:after { content: "☆"; .glyph; }
.glyph-thumbs-up:after { content: "👍"; .glyph; }
.glyph-thumbs-down:after { content: "👎"; .glyph; }
.glyph-thought-bubbles:after { content: ""; .glyph; }
.glyph-thought-bubble:after { content: ""; .glyph; }
.glyph-quotes:after { content: "❞"; .glyph; }
.glyph-home:after { content: "⌂"; .glyph; }
.glyph-popup:after { content: ""; .glyph; }
.glyph-search:after { content: "🔍"; .glyph; }
.glyph-flashlight:after { content: "🔦"; .glyph; }
.glyph-print:after { content: ""; .glyph; }
.glyph-bell:after { content: "🔔"; .glyph; }
.glyph-chain:after { content: "🔗"; .glyph; }
.glyph-flag:after { content: "⚑"; .glyph; }
.glyph-gear:after { content: "⚙"; .glyph; }
.glyph-tools:after { content: "⚒"; .glyph; }
.glyph-trophy:after { content: "🏆"; .glyph; }
.glyph-tag:after { content: ""; .glyph; }
.glyph-camera:after { content: "📷"; .glyph; }
.glyph-megaphone:after { content: "📣"; .glyph; }
.glyph-moon:after { content: "☽"; .glyph; }
.glyph-paints:after { content: "🎨"; .glyph; }
.glyph-leaf:after { content: "🍂"; .glyph; }
.glyph-note:after { content: "♪"; .glyph; }
.glyph-notes:after { content: "♫"; .glyph; }
.glyph-warning:after { content: "💥"; .glyph; }
.glyph-graduation-hat:after { content: "🎓"; .glyph; }
.glyph-book:after { content: "📕"; .glyph; }
.glyph-paper:after { content: "📰"; .glyph; }
.glyph-bag:after { content: "👜"; .glyph; }
.glyph-plane:after { content: "✈"; .glyph; }
.glyph-lifesaver:after { content: ""; .glyph; }
.glyph-eye:after { content: ""; .glyph; }
.glyph-clock:after { content: "🕔"; .glyph; }
.glyph-microphone:after { content: "🎤"; .glyph; }
.glyph-calendar:after { content: "📅"; .glyph; }
.glyph-lightning:after { content: "⚡"; .glyph; }
.glyph-lightning-cloud:after { content: "⛈"; .glyph; }
.glyph-drop:after { content: "💧"; .glyph; }
.glyph-disc:after { content: "💿"; .glyph; }
.glyph-toolbox:after { content: "💼"; .glyph; }
.glyph-waves:after { content: "💨"; .glyph; }
.glyph-hourglass:after { content: "⏳"; .glyph; }
.glyph-speedometer:after { content: "🛇"; .glyph; }
.glyph-letters:after { content: "🎔"; .glyph; }
.glyph-network:after { content: ""; .glyph; }
.glyph-key:after { content: "🔑"; .glyph; }
.glyph-battery:after { content: "🔋"; .glyph; }
.glyph-bucket:after { content: "📾"; .glyph; }
.glyph-magnet:after { content: ""; .glyph; }
.glyph-harddisk:after { content: "📽"; .glyph; }
.glyph-trash-bin:after { content: "☕"; .glyph; }
.glyph-rocket:after { content: "🚀"; .glyph; }
.glyph-paintbrush:after { content: ""; .glyph; }
.glyph-briefcase:after { content: "🛆"; .glyph; }
.glyph-cone:after { content: "🛈"; .glyph; }
.glyph-globe:after { content: "🌎"; .glyph; }
.glyph-keyboard:after { content: "⌨"; .glyph; }
.glyph-window:after { content: ""; .glyph; }
.glyph-window-arrow:after { content: ""; .glyph; }
.glyph-full-progress:after { content: ""; .glyph; }
.glyph-two-thirds-progress:after { content: ""; .glyph; }
.glyph-one-third-progress-:after { content: ""; .glyph; }
.glyph-empty-progress:after { content: ""; .glyph; }
.glyph-small-sun:after { content: "🔅"; .glyph; }
.glyph-large-sun:after { content: "🔆"; .glyph; }
.glyph-half-sun:after { content: "◑"; .glyph; }
.glyph-square-brackets:after { content: ""; .glyph; }
.glyph-tv:after { content: "💻"; .glyph; }
.glyph-infinity:after { content: "∞"; .glyph; }
.glyph-lightbulb:after { content: "💡"; .glyph; }
.glyph-creditcard:after { content: "💳"; .glyph; }
.glyph-database:after { content: "📸"; .glyph; }
.glyph-tape:after { content: "✇"; .glyph; }
.glyph-clipboard:after { content: "📋"; .glyph; }
.glyph-cart:after { content: ""; .glyph; }
.glyph-box:after { content: "📦"; .glyph; }
.glyph-ticket:after { content: "🎫"; .glyph; }
.glyph-feed:after { content: ""; .glyph; }
.glyph-wireless:after { content: "📶"; .glyph; }
.glyph-thermometer:after { content: "📿"; .glyph; }
.glyph-drops:after { content: "💦"; .glyph; }
.glyph-flag:after { content: ""; .glyph; }
.glyph-line-graph:after { content: "📈"; .glyph; }
.glyph-pie-graph:after { content: "◴"; .glyph; }
.glyph-bar-chart:after { content: "📊"; .glyph; }
.glyph-area-chart:after { content: "🔾"; .glyph; }
.glyph-lock:after { content: "🔒"; .glyph; }
.glyph-unlock:after { content: "🔓"; .glyph; }
.glyph-out:after { content: ""; .glyph; }
.glyph-in:after { content: ""; .glyph; }
.glyph-check:after { content: "✓"; .glyph; }
.glyph-x:after { content: "❌"; .glyph; }
.glyph-minus-box:after { content: "⊟"; .glyph; }
.glyph-plus-box:after { content: "⊞"; .glyph; }
.glyph-x-box:after { content: "❎"; .glyph; }
.glyph-minus-circle:after { content: "⊖"; .glyph; }
.glyph-plus-circle:after { content: "⊕"; .glyph; }
.glyph-x-circle:after { content: "✖"; .glyph; }
.glyph-minus:after { content: "➖"; .glyph; }
.glyph-plus:after { content: "➕"; .glyph; }
.glyph-back-x:after { content: "⌫"; .glyph; }
.glyph-delete:after { content: "🚫"; .glyph; }
.glyph-info:after { content: "ℹ"; .glyph; }
.glyph-info-circle:after { content: ""; .glyph; }
.glyph-question:after { content: "❓"; .glyph; }
.glyph-question-circle:after { content: ""; .glyph; }
.glyph-exclamation-triangle:after { content: "⚠"; .glyph; }
.glyph-refresh:after { content: "🔄"; .glyph; }
.glyph-clockwise:after { content: "⟳"; .glyph; }
.glyph-counter-clockwise:after { content: "⟲"; .glyph; }
.glyph-shuffle:after { content: "🔀"; .glyph; }
.glyph-reverse:after { content: "🔙"; .glyph; }
.glyph-forward:after { content: "↳"; .glyph; }
.glyph-square-circle:after { content: ""; .glyph; }
.glyph-repeat:after { content: "🔁"; .glyph; }
.glyph-repeat-clock:after { content: ""; .glyph; }
.glyph-back-arrow:after { content: "↰"; .glyph; }
.glyph-opposing-arrows:after { content: "⇆"; .glyph; }
.glyph-list-bulletted:after { content: ""; .glyph; }
.glyph-list-add:after { content: ""; .glyph; }
.glyph-squares:after { content: "⚏"; .glyph; }
.glyph-list:after { content: "☰"; .glyph; }
.glyph-white-list:after { content: "📄"; .glyph; }
.glyph-black-list:after { content: ""; .glyph; }
.glyph-empty-list:after { content: ""; .glyph; }
.glyph-multiple-pages:after { content: ""; .glyph; }
.glyph-screen:after { content: ""; .glyph; }
.glyph-pictures:after { content: "🌄"; .glyph; }
.glyph-play-movie:after { content: "🎬"; .glyph; }
.glyph-music:after { content: "🎵"; .glyph; }
.glyph-folder:after { content: "📁"; .glyph; }
.glyph-file-cabinet:after { content: ""; .glyph; }
.glyph-trash-can:after { content: ""; .glyph; }
.glyph-out-of-box:after { content: "📤"; .glyph; }
.glyph-in-to-box:after { content: "📥"; .glyph; }
.glyph-diskette:after { content: "💾"; .glyph; }
.glyph-in-drive:after { content: ""; .glyph; }
.glyph-cloud:after { content: "☁"; .glyph; }
.glyph-cloud-in:after { content: ""; .glyph; }
.glyph-bookmark:after { content: "🔖"; .glyph; }
.glyph-bookmarks:after { content: "📑"; .glyph; }
.glyph-pamphlet:after { content: "📖"; .glyph; }
.glyph-play:after { content: "▶"; .glyph; }
.glyph-pause:after { content: "‖"; .glyph; }
.glyph-record:after { content: "●"; .glyph; }
.glyph-stop:after { content: "■"; .glyph; }
.glyph-fastforward:after { content: "⏩"; .glyph; }
.glyph-rewind:after { content: "⏪"; .glyph; }
.glyph-previous:after { content: "⏮"; .glyph; }
.glyph-next:after { content: "⏭"; .glyph; }
.glyph-expand:after { content: ""; .glyph; }
.glyph-contract:after { content: ""; .glyph; }
.glyph-wedge:after { content: "⏷"; .glyph; }
.glyph-volume:after { content: "🔊"; .glyph; }
.glyph-mute:after { content: "🔇"; .glyph; }
.glyph-list-graph:after { content: "🕨"; .glyph; }
.glyph-fork:after { content: "🕩"; .glyph; }
.glyph-tree:after { content: "🕪"; .glyph; }
.glyph-one-set:after { content: "🕫"; .glyph; }
.glyph-two-set:after { content: "🕬"; .glyph; }
.glyph-left-arrow:after { content: ""; .glyph; }
.glyph-down-arrow:after { content: ""; .glyph; }
.glyph-up-arrow:after { content: ""; .glyph; }
.glyph-right-arrow:after { content: ""; .glyph; }
.glyph-left-thin-arrow:after { content: "⬅"; .glyph; }
.glyph-down-thin-arrow:after { content: "⬇"; .glyph; }
.glyph-up-thin-arrow:after { content: "⬆"; .glyph; }
.glyph-right-thin-arrow:after { content: "➡"; .glyph; }
.glyph-left-circle-arrow:after { content: ""; .glyph; }
.glyph-down-circle-arrow:after { content: ""; .glyph; }
.glyph-up-circle-arrow:after { content: ""; .glyph; }
.glyph-right-circle-arrow:after { content: ""; .glyph; }
.glyph-left-small-arrow:after { content: "◂"; .glyph; }
.glyph-down-small-arrow:after { content: "▾"; .glyph; }
.glyph-up-small-arrow:after { content: "▴"; .glyph; }
.glyph-right-small-arrow:after { content: "▸"; .glyph; }
.glyph-left-square-arrow:after { content: ""; .glyph; }
.glyph-down-square-arrow:after { content: ""; .glyph; }
.glyph-up-square-arrow:after { content: ""; .glyph; }
.glyph-right-square-arrow:after { content: ""; .glyph; }
.glyph-left-square-thin-arrow:after { content: ""; .glyph; }
.glyph-down-square-thin-arrow:after { content: ""; .glyph; }
.glyph-up-square-thin-arrow:after { content: ""; .glyph; }
.glyph-right-square-thin-arrow:after { content: ""; .glyph; }
.glyph-left-square-fat-arrow:after { content: ""; .glyph; }
.glyph-down-square-fat-arrow:after { content: ""; .glyph; }
.glyph-up-square-fat-arrow:after { content: ""; .glyph; }
.glyph-right-square-fat-arrow:after { content: ""; .glyph; }
.glyph-left-long-arrow:after { content: "←"; .glyph; }
.glyph-down-long-arrow:after { content: "↓"; .glyph; }
.glyph-up-long-arrow:after { content: "↑"; .glyph; }
.glyph-right-long-arrow:after { content: "→"; .glyph; }
.glyph-up-down-arrows:after { content: ""; .glyph; }
.glyph-three-dots:after { content: "⏶"; .glyph; }
.glyph-two-dots:after { content: "⏵"; .glyph; }
.glyph-one-dot:after { content: "⏴"; .glyph; }
.glyph-cc:after { content: "🕅"; .glyph; }
.glyph-cc-by:after { content: "🕆"; .glyph; }
.glyph-cc-nc-dollar:after { content: "🕇"; .glyph; }
.glyph-cc-nc-euro:after { content: "🕈"; .glyph; }
.glyph-cc-nc-yen:after { content: "🕉"; .glyph; }
.glyph-cc-sa:after { content: "🕊"; .glyph; }
.glyph-cc-equal:after { content: "🕋"; .glyph; }
.glyph-cc-copy:after { content: "🕌"; .glyph; }
.glyph-cc-zero:after { content: "🕍"; .glyph; }
.glyph-cc-share:after { content: "🕎"; .glyph; }
.glyph-cc-remix:after { content: "🕏"; .glyph; }
.glyph-db-logo:after { content: "🗹"; .glyph; }
.glyph-black-box:after { content: "🗺"; .glyph; }

.glyph-github:after { content: ""; .glyph-social;}
.glyph-github-circle:after { content: ""; .glyph-social;}
.glyph-flickr:after { content: ""; .glyph-social;}
.glyph-flickr-circle:after { content: ""; .glyph-social;}
.glyph-vimeo:after { content: ""; .glyph-social;}
.glyph-vimeo-circle:after { content: ""; .glyph-social;}
.glyph-twitter:after { content: ""; .glyph-social;}
.glyph-twitter-circle:after { content: ""; .glyph-social;}
.glyph-facebook:after { content: ""; .glyph-social;}
.glyph-facebook-circle:after { content: ""; .glyph-social;}
.glyph-facebook-square:after { content: ""; .glyph-social;}
.glyph-google:after { content: ""; .glyph-social;}
.glyph-google-circle:after { content: ""; .glyph-social;}
.glyph-pinterest:after { content: ""; .glyph-social;}
.glyph-pinterest-circle:after { content: ""; .glyph-social;}
.glyph-tumblr:after { content: ""; .glyph-social;}
.glyph-tumblr-circle:after { content: ""; .glyph-social;}
.glyph-linkedin:after { content: ""; .glyph-social;}
.glyph-linkedin-circle:after { content: ""; .glyph-social;}
.glyph-dribble:after { content: ""; .glyph-social;}
.glyph-dribble-circle:after { content: ""; .glyph-social;}
.glyph-stumbleupon:after { content: ""; .glyph-social;}
.glyph-stumbleupon-circle:after { content: ""; .glyph-social;}
.glyph-lastfm:after { content: ""; .glyph-social;}
.glyph-lastfm-circle:after { content: ""; .glyph-social;}
.glyph-rdio:after { content: ""; .glyph-social;}
.glyph-rdio-circle:after { content: ""; .glyph-social;}
.glyph-spotify:after { content: ""; .glyph-social;}
.glyph-spotify-circle:after { content: ""; .glyph-social;}
.glyph-qq:after { content: ""; .glyph-social;}
.glyph-instagram:after { content: ""; .glyph-social;}
.glyph-dropbox:after { content: ""; .glyph-social;}
.glyph-evernote:after { content: ""; .glyph-social;}
.glyph-flattr:after { content: ""; .glyph-social;}
.glyph-skype:after { content: ""; .glyph-social;}
.glyph-skype-circle:after { content: ""; .glyph-social;}
.glyph-renren:after { content: ""; .glyph-social;}
.glyph-sina:after { content: ""; .glyph-social;}
.glyph-paypal:after { content: ""; .glyph-social;}
.glyph-picasa:after { content: ""; .glyph-social;}
.glyph-soundcloud:after { content: ""; .glyph-social;}
.glyph-mixi:after { content: ""; .glyph-social;}
.glyph-behance:after { content: ""; .glyph-social;}
.glyph-google-circles:after { content: ""; .glyph-social;}
.glyph-vk:after { content: ""; .glyph-social;}
.glyph-smashing:after { content: ""; .glyph-social;}
