@pageWidth : 1024 px;
@numberColumns : 12;
@spacerWidth: 10px;

.row
{
	width: 1024;
	margin: 0 auto;
}



.column
{
	float: right;
	overflow: hidden;
}

.column
{
	margin-right: @spacerWidth;
	margin-left: @spacerWidth;
	float: left;
	&.right
	{
		float: right;
	}
}

.one-column
{
	.column;
	width: 67px;
}

.two-column
{
	.column;
	width: 154px;
	
}

.three-column
{
	.column;
	width: 241px;
	
}

.four-column
{
	.column;
	width: 328px;
	
}

.five-column
{
	.column;
	width: 415px;
	
}

.six-column
{
	.column;
	width: 502px;
	
}

.seven-column
{
	.column;
	width: 589px;
	
}
.eight-column
{
	.column;
	width: 676px;
	
}

.nine-column
{
	.column;
	width: 763px;
	
}

.ten-column
{
	.column;
	width: 850px;
	
}

.eleven-column
{
	.column;
	width: 937px;
	
}

.twelve-column
{
	.column;
	width: 1024px;
	
}

